/* css styles */
table {
    border-collapse:collapse;
    border-color:#9ABAD9;
    border-spacing:0;
}

th {
    border: 1px solid black;
    padding: 2px;
    background-color: #0D88e8;
    position:-webkit-sticky;
    position:sticky;
    text-align:left;
    top:-1px;
    vertical-align:top;
    will-change:transform;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
}

td {
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
