/* css styles */

.tg {
    border-collapse:collapse;
    border-color:#9ABAD9;
    border-spacing:0;
}

.tg td{
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
   font-family:Arial, sans-serif;
   font-size:14px;
   overflow:hidden;
   padding:10px 5px;
   word-break:normal;
}

.tg th {
    background-color: $navbar-bg;
    /* background-color: #158CBA; */
    border-color:#9ABAD9;
    border-style:solid;
    border-width:1px;
    color:#fff;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-ul38 {
    position:-webkit-sticky;
    position:sticky;
    text-align:left;
    top:-1px;
    vertical-align:top;
    will-change:transform
}
.tg .tg-0lax { 
    text-align:left;
    vertical-align:top
}

svg[id^="mermaid-"] {
    min-width: 200px; max-width: 750px;
}

div.callout-caution.callout {
    border-left-color: #FFC107;
}

nav#quarto-sidebar {
    font-family: Source Sans Pro
}
